<a href="https://colab.research.google.com/github/ustavoteles/CadastroClientes/blob/main/Aula_1_Curso_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Meu primeiro programa em Python

>**Aula 1**

> - Tipos de dados fundamentais
> - Operações numéricas
> - Operações com "string"
> - Inputs e Outputs

### Tipos de dados

- **int (integer)**
   - são os números inteiros (1, 2, 3 , 4 , 5...., 23, etc)
   
    
- **float**
    - são números de "ponto flutuante", contínuos, os números racionais (3.14, raiz de 2, 115/9, 1.0000091, 44.2386, etc)
    - o Python entende números não inteiros apenas separados por ponto (.) e não por vírgula (,)
    
    
- **str (strings)**
    - são textos, palavras (Gustavo, Fea.dev, USP, Santos, amor, programação, etc)
    - no Python utilizamos aspas 'simples' ou "duplas" para trabalhar com as strings (textos) em nossos programas
    
    
- **bool (booleanos)**
    - retornam verdadeiro ou falso (True, False)
    - servem para checar condições (se verdadeiras ou falsas) em nossos códigos de programação

### Operações básicas

- Adição: (+)

- Subtração: (-)

- Multiplicação: (*)

- Divisão: (/)

- Exponenciação: ( ** )

- Divisão inteira: (//), retorna a parte inteira da divisão

- Módulo: (%), retorna o resto da divisão

### Operadores comparativos

- Igual a: (==)
    - (=) é símbolo para **atribuição**. Não confundir com (==)

- Maior que: (>)

- Menor que: (<)

- Maior ou igual: (>=)

- Menor ou igual: (<=)

- Diferente de: (!=)

## Métodos de strings

- **len(exemplo):** Retorna o comprimento da string 'exemplo'
- **exemplo.split(delimiter):** Divide a string 'exemplo' em uma lista de substrings com base em um delimitador
- **exemplo.upper():** Retorna a string 'exemplo' toda em letras maiúsculas
- **exemplo.lower():** Retorna a string 'exemplo' toda em letras minúsculas
- **exemplo.strip():** Retorna a string 'exemplo' retirando possíveis espaços em branco no início e no fim da string
- **exemplo.startswith('xyz'):** Testa se a string 'exemplo' começa com a string 'xyz'
- **exemplo.endswith('xyz'):** Testa se a string 'str_examplexemplo' termina com a string 'xyz'
- **exemplo.find('xyz'):** Procura a string 'xyz' dentro de 'exemplo' e retorna o primeiro índice onde 'xyz' começa ou retorna -1 se nada for encontrado
- **exemplo.replace('old','new'):** Retorna uma string nova onde todas as ocorrências de 'old' encontradas em 'exemplo' serão substituídas por 'new'

In [ ]:
# Exemplos utilizando operações numéricas com cada tipo de dados

# int
2 + 2
10 - 10
347 * 26
9 / 3
10 ** 2
25 // 4
2 % 1
(8 * 2) + 7
8 * (2 + 7)
10 ** 1/2

# float
2.99 + 11.1
3.14 - 12.17
0.05 * 2.1369
10.12 / 100.49
0.1 ** 0
16.5 // 4
403.97 % 8.18
2 ** (1/2)

# bool (sim, podemos fazer operações numéricas com booleanos pois o Python os reconhece como True=1 e False=0 !)
True + True
True - False
False * False
0 == 0
1 > 2
4 <= 4
3 != 3.000001

# str
'Gustavo' + 'Teles'

'GustavoTeles'

### Variáveis

In [ ]:
# "sofisticando" as operações utilizando variáveis (isto é, facilitando manipulações no código)
v1 =  2 + 2
v6 = 25 // 4
v7 = 403.97 % 8.1
v8 = 10 ** 1/2
v9 = 0.05 * 2.1369
bool1 = True + True
bool2 = 3 != 3.000001

nome = 'Gustavo'
sobrenome = 'Teles'
nome_completo = nome + ' ' + sobrenome
idade = 22

print(v8)
print(type(v8))

5.0
<class 'float'>

In [ ]:
# Exibição 1
print(nome_completo)

Gustavo Teles

In [ ]:
# Exibição 2
print(nome + ' ' + sobrenome)

Gustavo Teles

In [ ]:
# Exibição 3
print('Seu nome completo é {} e você tem {} anos.'.format(nome_completo, idade))

Seu nome completo é Gustavo Teles e você tem 22 anos.

In [ ]:
# Exibição 4
print(f'Seu nome completo é {nome_completo} e você tem {idade} anos.')

Seu nome completo é Gustavo Teles e você tem 22 anos.

In [ ]:
# Exibição 5
print(f'O resultado da multiplicação 0.05 x 2.1369 com duas casas decimais é {v9:.2f}')

O resultado da multiplicação 0.05 x 2.1369 com duas casas decimais é 0.11

In [ ]:
# não podemos realizar operações entre strings e outros tipos de dados
print(nome + bool2)

TypeError: can only concatenate str (not "bool") to str

In [ ]:
# não podemos transformar strings em int ou float (mas o oposto é verdadeiro)
x = 'FEA.dev'
y = 5
z = '5'

# transformação possível
print(x + z)

#transformação não permitida
#print(int(x) + y)

FEA.dev5

In [ ]:
# Extra: docstrings

str1 = """Das Utopias
Se as coisas são inatingíveis...ora!
Não é motivo para não querê-las...
Que tristes os caminhos, se não fora
A presença distante das estrelas!

Mario Quintana
"""
print(str1)
print(type(str1))

Das Utopias
Se as coisas são inatingíveis...ora!
Não é motivo para não querê-las...
Que tristes os caminhos, se não fora
A presença distante das estrelas!

Mario Quintana

<class 'str'>

In [ ]:
# slicing com strings
str2 = 'Curso de Python FEA.dev'

str2[2::-2] #start, stop, step

'rC'

In [ ]:
# Aplicação de inputs e outputs

# input
nome = input('Digite seu primeiro nome: ')
idade = int(input('Qual a sua idade? '))

#output com formatação
print(f'Oi {nome.upper()}! Bem-vinda ao Curso de Python do FEA.dev. Você tem {idade} anos, correto?')

Digite seu primeiro nome: Gustavo
Qual a sua idade? 23
Oi Gustavo! Bem-vindo ao Curso de Python do FEA.dev. Você tem 23 anos, correto?

In [ ]:
# exemplos utilizando métodos de strings
str2.replace('Python', 'R')

'Curso de R FEA.dev'

## Desafio

- Escreva um programa seguindo as instruções:

1. Receba como uma entrada a renda e como outra entrada a despesa estimada do usuário para cada um dos últimos 3 meses

2. Calcule a média da despesa nesses 3 meses

3. Calcule qual seria o saldo anual deste usuário até o final do ano baseado em seu salário mensal e na média das despesas

4. Exiba o resultado na tela informando ao usuário o VALOR de seu saldo final, especificando também qual o VALOR da média da despesa que foi utilizada como base para calcular o saldo

> Dica: use os métodos de strings e formatação de *output* mostrados em aula para caprichar na exibição do resultado final!